<div class="grid h-screen place-items-center">
  <form *ngIf="formGroup" [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput placeholder="username">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="password">
    </mat-form-field>
    <br>
    <div class="flex items-center justify-center">
      <button mat-flat-button color="primary" (click)="onFormSubmit()" type="submit"> LOGIN </button>
    </div>
  </form>
</div>