<form *ngIf="formGroup" [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput placeholder="username">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput placeholder="password">
    </mat-form-field>
    <br>
    <button class="bg-sky-700 p-3" (click)="onFormSubmit()" type="submit"> submit </button>
  </form>