<form *ngIf="formGroup" [formGroup]="formGroup">
    <div class="flex gap-3">
        <!-- roomid  in hidden input -->
        <mat-form-field appearance="fill">
            <mat-label>Check in</mat-label>
            <input type="date" formControlName="checkInDate" matInput >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Check out</mat-label>
            <input type="date" formControlName="checkOutDate" matInput >
        </mat-form-field>
        <button mat-flat-button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 h-10 px-4 rounded" (click)="onFormSubmit()" type="submit"> RESERVE </button>
    </div>
</form>